[ng-click]{cursor: pointer;}
ul{
	margin: 0;
}
::selection {
	background: darken(@text-color,1%); /* Safari */
	color: @text-color;
	}
::-moz-selection {
	background: @text-color; /* Firefox */
}
h1, h2, h3, h4{
	font-weight: bold;
	text-transform: uppercase;
}
//--------Home
body{
	color: @text-color;
	background: @background-color;
	font-family: 'univers';
}

a{
	text-decoration: none;
	&, &:visited, &:active{
		color: inherit;
	}
	&:hover{
		color: @theme-color;
			text-decoration: none;

	}
}

section{
	padding-top: 55px;
	background: transparent;
}


//---------Mixins
.background(){
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;	
}

.fill(){
	width: 100%;
	height: 100%;
	display: inline-block;
}

.background-color(@hex: @theme-color, @opacity: 0.66) {
	background: rgba(red(@hex), green(@hex), blue(@hex), @opacity);
}
//----------Menu

.navbar {
	text-transform: uppercase;
	font-size: @font-size-large;
	margin: 0px;
	.navbar-fixed-top &{
		padding-left: 15px;
	}

	li:not(:first-child):before{
		content: '·';	
		float: left;
		padding: 15px 0px;
	}
}

.background-img{
	> div{
		height: 100%;
		max-width: 100%;
		.background();
		background-attachment: fixed;
	}
	a&{
		display: block;
	}
}

//----------ProjList
@project-height : 150px;
@project-margin: @grid-gutter-width;
#projects{
	background: @background-color;
	padding-bottom: 20px;
	li{
		list-style: none;
		height: @project-height;
		//different thumbnail sizes
		&{
			margin-bottom: @project-margin;
		}
		&.normal{
			.make-sm-column(4);
			height: @project-height;
			.project-details{
				padding-top: (@project-height/2)-20;
			}
		}
		&.long{
			height: @project-height;
			.make-sm-column(8);
			.project-details{
				padding-top: (@project-height/2)-20;
			}
		}
		&.high{
			height: @project-height*2 + @project-margin;
			.make-sm-column(4);
			.project-details{
				padding-top: (@project-height)-20;
			}
		}
	}
	.project{
		position: relative;
		display: inline-block;
		overflow: hidden;
		.background();
		//.make-sm-column(4);
		border: solid 1px @text-color;
		.fill();

		.project-details{
			.transition(all .15s linear);
			text-transform: uppercase;
			color: @text-color;

			.background-color();

			text-align: center;
			position: relative;
			
			.no-touch &{
				top: 100%;
				.opacity(0);
			}
			.project-details-header{
				font-size: larger;
				.project-title{
					font-weight: bold;
				}
			}

		}
		.no-touch &:hover .project-details{
			top: 0;
			.opacity(1);
		}
		
	}
}

//----------ProjDetails
html, body, .view {
	height: 100%;
}

body{
	.navbar{
		background: @background-color;
		z-index: 1000;
		font-weight: bolder;
	}
}
.project-details{
	height: 100%;
	width: 100%;
	//overflow-x: auto;
	white-space: nowrap;
	padding-top: @navbar-height;
	//display: inline-block;
	.project-info{
		max-width: 33%;
		min-width: 250px;
		white-space: normal;
		padding: 0px 5px 20px 10px;
	}
	.slide{
		vertical-align: top;
		height: 100%;
		overflow-y: scroll;
		display: inline-block;
		&:not(:last-child){
			margin-right: @navbar-height;
		}
		.slide-img{
			position: relative;
			min-height: 100%;
			max-height: 100%;
		}
		.slide-legend{
			opacity: 0;
		}
		&:hover .slide-legend{
			opacity: 1;
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			padding: 5px 5px 5px;
			background: rgba(red(@background-color), green(@background-color), blue(@background-color), @opacity);
		}
		position: relative;
	}
}
//----------ShowList
@show-height: 45px;
#shows{
	li{
		line-height: 3.4;
		border-top: solid 1px @text-color;
		text-transform: uppercase;
		font-size: larger;
		.show-title{
			font-weight: bold;
		}
		&:hover, &:hover + li{
			border-top: solid 1px @theme-color;
			
		}
		a{
			.fill();
		}
	}
}

//----------Bio
#bio{
	-webkit-column-count: 2;
	padding-left: 25px;
	padding-right: 25px;
	.bio-years > li{
				margin-bottom: 1em;
			}
	ul{
		-webkit-margin-before: 0;
	    -webkit-margin-after: 0;
	    -webkit-padding-start: 0;	
		li{
			list-style: none;
		}
	}
	.bio-pdf{
		font-size: larger;
		text-transform: uppercase;
		
	}
}


//------------fonts 
/* Generated by Font Squirrel (http://www.fontsquirrel.com) on January 10, 2014 */

/* Generated by Font Squirrel (http://www.fontsquirrel.com) on January 10, 2014 */



@font-face {
    font-family: 'univers';
    src: url('fonts/univers_45_light-webfont.eot');
    src: url('fonts/univers_45_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/univers_45_light-webfont.woff') format('woff'),
         url('fonts/univers_45_light-webfont.ttf') format('truetype'),
         url('fonts/univers_45_light-webfont.svg#univers_45_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'univers';
    src: url('fonts/univers_45_light_bold-webfont.eot');
    src: url('fonts/univers_45_light_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/univers_45_light_bold-webfont.woff') format('woff'),
         url('fonts/univers_45_light_bold-webfont.ttf') format('truetype'),
         url('fonts/univers_45_light_bold-webfont.svg#univers_45_lightbold') format('svg');
    font-weight: bold;
    font-style: normal;

}




@font-face {
    font-family: 'univers';
    src: url('fonts/univers_45_light_bold_italic-webfont.eot');
    src: url('fonts/univers_45_light_bold_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/univers_45_light_bold_italic-webfont.woff') format('woff'),
         url('fonts/univers_45_light_bold_italic-webfont.ttf') format('truetype'),
         url('fonts/univers_45_light_bold_italic-webfont.svg#univers_45_lightbold_italic') format('svg');
    font-weight: bold;
    font-style: italic;

}




@font-face {
    font-family: 'univers';
    src: url('fonts/univers_45_light_italic-webfont.eot');
    src: url('fonts/univers_45_light_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/univers_45_light_italic-webfont.woff') format('woff'),
         url('fonts/univers_45_light_italic-webfont.ttf') format('truetype'),
         url('fonts/univers_45_light_italic-webfont.svg#univers_45_lightitalic') format('svg');
    font-weight: normal;
    font-style: italic;

}