html, body, .view {
	height: 100%;
}

body{
	padding-top: 55px;
	.navbar{
		position: fixed;
		top: 0px;
		border-bottom: 1px solid @text-color;
		left: 0;
		right: 0;
		background: @background-color;
		z-index: 1000;
	}
}
.column{
	height: 100%;
	overflow: auto;
}


.project-list{
	li{
		line-height: 3;
		list-style: none;
		line-height: 3.4;
		border-bottom: solid 1px @text-color;
		border-right: solid 1px @text-color;
		border-radius: 2px;
		&.project-active{
			border-right: none;
		}
		&:first-child{
			border-top: solid 1px @text-color;
		}
	}
}

.details
{
	.project-title {
		padding-bottom: 15px;
		h2{
			display: inline;
		}
	}
	.field-list{
		.field{
			display: block;
		}
		img {
			max-width: 150px;
		}
		li{
			list-style-type: decimal;
		}
	}
}