@media screen and (min-width: 1600px) {
    .container {
        max-width: (1600px - @grid-gutter-width);
    }
}
@media screen and (min-width: 1900px) {
    .container {
        max-width: (1900px - @grid-gutter-width);
    }
}

.container{
	padding-left: 0px;
	padding-right: 0px;
	.row{
		margin-right: 0px;
		margin-left: 0px;
	}
}
[ng-click]{cursor: pointer;}
	ul{
		-webkit-margin-before: 0;
	    -webkit-margin-after: 0;
	    -webkit-padding-start: 0;
		margin: 0;
		li{
			list-style: none;
		}
	}
::selection {
	background: darken(@text-color,1%); /* Safari */
	color: @text-color;
	}
::-moz-selection {
	background: @text-color; /* Firefox */
}
h1, h2, h3, h4{
	font-weight: bold;
	text-transform: uppercase;
		font-size: @font-size-h3;

}

// Media query variables.
@notmobile: ~"(min-width: 481px)";
@mobile:  ~"(max-width: 767px)";
@tablet:  ~"(min-width: 768px) and (max-width: 979px)";
@normal:  ~"(min-width: 980px) and (max-width: 1199px)";
@wide:    ~"(min-width: 1200px)";

//--------Home
body{
	color: @text-color;
	background: @background-color;
}

a{
	text-decoration: none;
	&, &:visited, &:active{
		color: inherit;
	}
	&:hover{
		color: @theme-color;
			text-decoration: none;

	}
}

section{
	padding: 5px 0px;
	display: block;
	background: transparent;
}

@alignToMenu: ~".show, #bio";

@paddingLeftPage: 20px;

@{alignToMenu} {
	padding-left: @paddingLeftPage;
	padding-right: @paddingLeftPage;
	
}
#projects{
	padding-left: @paddingLeftPage - 10;
}
//---------Mixins
.background(){
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;	
}

.fill(){
	width: 100%;
	height: 100%;
	display: inline-block;
}

.background-color(@hex: @theme-color, @opacity: 0.66) {
	background: rgba(red(@hex), green(@hex), blue(@hex), @opacity);
}
//----------Menu

.navbar {
	text-transform: uppercase;
	font-size: @font-size-h3;
	margin: 0px;
	border: none;
	.navbar-collapse{
		padding-left: 0px;
	}
	li > a{
		padding-top: 17px!important;
		padding-bottom: 13px!important;
		padding-left: 33px;
		padding-right: 30px;
	}
	li:first-child  a{
		padding-left: 20px;
	}
	li:not(:first-child):before{
		content: '\00B7';
		font-family: 'blumer';
		float: left;
		padding: 7px 0px;

	}

}

.background-img{
	> div{
		height: 100%;
		max-width: 100%;
		.background();
		background-attachment: fixed;
	}
	a&{
		display: block;
	}
}

//----------ProjList
@project-height : 150px;
@project-margin: @grid-gutter-width;
#projects{
	background: @background-color;
	padding-bottom: 20px;
	li{
		list-style: none;
		height: @project-height;
		//different thumbnail sizes
			margin-bottom: @project-margin;
		&.normal{
			.make-sm-column(4);
			height: @project-height;
			.project-details{
				padding-top: (@project-height/2)-20;
			}
		}
		&.long{
			height: @project-height;
			.make-sm-column(8);
			.project-details{
				padding-top: (@project-height/2)-20;
			}
		}
		&.high{
			height: @project-height*2 + @project-margin;
			.make-sm-column(4);
			.project-details{
				padding-top: (@project-height)-20;
			}
		}
				// padding-left: 0px!important;
				// padding-right: 0px!important;

	}
	.project{
		position: relative;
		display: inline-block;
		overflow: hidden;
		.background();
		//.make-sm-column(4);
		border: solid 1px @text-color;
		.fill();

		.project-details{
			.transition(all .15s .15s linear);
			text-transform: uppercase;
			color: @text-color;
			height: 100%;
			.background-color();

			text-align: center;
			position: relative;
			
			.no-touch &{
				top: 100%;
				.opacity(0);
			}
			.project-details-header{
				font-size: larger;
				.project-title{
					font-weight: bold;
				}
			}

		}
		.no-touch &:hover .project-details{
			top: 0;
			.opacity(1);
			.transition(all .15s linear);

		}
		
	}
}

//----------ProjDetails
html, body, .view {
	height: 100%;
}

body{
	.navbar{
		background: @background-color;
		z-index: 1000;
		font-weight: bolder;
	}
}

.project-details.project-single{
	top: @navbar-height;
	bottom: 0;
	//overflow-x: auto;
	white-space: nowrap;
	position: absolute;
	.project-info{

		max-width: 500px;
		min-width: 250px;
		white-space: normal;
		padding: 0px 5px 20px 10px;
		text-align: justify;
		.apropos {
			text-transform: uppercase;
			font-size: inherit;
			font-weight: normal;
		}
	}

	.slide{
		vertical-align: top;
		overflow-y: scroll;
		display: inline-block;
		white-space: normal;

		&:not(:last-child){
			margin-right: @navbar-height;
		}
		.img{
			height: 100%;
		}
		.slide-img{
			position: relative;
			min-height: 100%;
			max-height: 100%;

		}
		.slide-legend{
			text-align: center;

			opacity: 0;
			bottom: -100%;
			.transition(all .15s .15s linear);
			position: absolute;
			left: 0;
			right: 0;
			padding: 5px 5px 5px;
			background: rgba(red(@background-color), green(@background-color), blue(@background-color), @opacity);
			p{
				margin: 0;
			}
		}
		&:hover .slide-legend{
			bottom: 0%;
			opacity: 1;
			.transition(all .15s linear);
		}
		position: relative;
	}
}
//----------ShowList
@show-height: 45px;
#shows{
	padding-top: 0px;
	li{
		line-height: 3.4;
		border-top: solid 1px @text-color;
		text-transform: uppercase;
		font-size: larger;
		.show-title{
			font-weight: bold;
		}
		&:hover, &:hover + li{
			border-top: solid 1px @theme-color;
			
		}
		a{
			.fill();
		}
	}
}

//----------Bio
#bio{
	@media @notmobile{
		-webkit-column-count: 2;
	}
	padding-right: 30px;
	padding-bottom: 10px;
	.bio-years > li{
				margin-bottom: 1em;
			}

	.bio-pdf{
		font-size: larger;
		text-transform: uppercase;
		
	}
}


//------------fonts 
/* Generated by Font Squirrel (http://www.fontsquirrel.com) on January 10, 2014 */

/* Generated by Font Squirrel (http://www.fontsquirrel.com) on January 10, 2014 */



@font-face {
    font-family: "blumer";
    src: url('fonts/univers_45_light-webfont.eot');
    src: url('fonts/univers_45_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/univers_45_light-webfont.woff') format('woff'),
         url('fonts/univers_45_light-webfont.ttf') format('truetype'),
         url('fonts/univers_45_light-webfont.svg#univers_45_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: "blumer";
    src: url('fonts/univers_45_light_bold-webfont.eot');
    src: url('fonts/univers_45_light_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/univers_45_light_bold-webfont.woff') format('woff'),
         url('fonts/univers_45_light_bold-webfont.ttf') format('truetype'),
         url('fonts/univers_45_light_bold-webfont.svg#univers_45_lightbold') format('svg');
    font-weight: bold;
    font-style: normal;

}




@font-face {
    font-family: "blumer";
    src: url('fonts/univers_45_light_bold_italic-webfont.eot');
    src: url('fonts/univers_45_light_bold_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/univers_45_light_bold_italic-webfont.woff') format('woff'),
         url('fonts/univers_45_light_bold_italic-webfont.ttf') format('truetype'),
         url('fonts/univers_45_light_bold_italic-webfont.svg#univers_45_lightbold_italic') format('svg');
    font-weight: bold;
    font-style: italic;

}




@font-face {
    font-family: "blumer";
    src: url('fonts/univers_45_light_italic-webfont.eot');
    src: url('fonts/univers_45_light_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/univers_45_light_italic-webfont.woff') format('woff'),
         url('fonts/univers_45_light_italic-webfont.ttf') format('truetype'),
         url('fonts/univers_45_light_italic-webfont.svg#univers_45_lightitalic') format('svg');
    font-weight: normal;
    font-style: italic;

}