<div class='bio-header'>{{header}}</div>
<ul class='bio-list'>
  <li ng-repeat='(category, experiences) in bio'>
    <h3>{{category}}</h3>
    <ul>
      <!-- If it's an array, ie if it's not the later experiences -->
      <li ng-repeat='exp in experiences'>
        <span class='bio-date'>{{exp.date}}</span>
        <span class='bio-title'>{{exp.text}}</span>
        <span class='bio-location'>{{exp.location}}</span>
        <span class='bio-venue'>{{exp.venue}}</span>
      </li>
    </ul>
  </li>
  <li>
    <h3>Selected Exhibitions</h3>
    <ul>
      <li ng-repeat='(year, exp) in experience | orderBy:reverse'>
        <div class='bio-year'>{{year}}</div>
        <ul>
          <li ng-repeat='line in exp'>
            <span class='bio-title'>{{line.text}}</span>
            <span class='bio-location'>{{line.location}}</span>
            <span class='bio-venue'>{{line.venue}}</span>
          </li>
        </ul>
      </li>
    </ul>
  </li>
</ul>
<!-- %ul.bio-list -->
<!-- %li.bio-education -->
<!-- %h3.bio-title Education -->
<!-- %ul -->
<!-- %li.bio{"ng-repeat" => "school in education"} -->
<!-- %span.bio-date {{exp.date}} -->
<!-- %span.bio-title {{exp.text}} -->
<!-- %span.bio-location {{exp.location}} -->
<!-- %span.bio-venue {{exp.venue}} -->
<!-- %li.bio-awards -->
<!-- %li.bio-list-exp -->
<!-- %ul -->
<!-- %li.bio{"ng-repeat" => "exp in experience"} -->
<!-- %span.bio-date {{exp.date}} -->
<!-- %span.bio-title {{exp.text}} -->
<!-- %span.bio-location {{exp.location}} -->
<!-- %span.bio-venue {{exp.venue}} -->
<a class='bio-pdf' href='{{pdf.url}}'>{{pdf.title}}</a>
<!-- <div data-ng-repeat="(group, users) in groupedFriends"> -->
<!-- <h2>{{group}}</h2> -->
<!-- <ul> -->
<!-- <li data-ng-repeat="user in users"> -->
<!-- {{ user.name }} -->
<!-- </li> -->
<!-- </ul> -->
<!-- </div> -->
