<div class='column left-col col-sm-4 list'>
  <ul class='project-list'>
    <li class='project add-new' ng-click='addProject(projects);'>
      <div class='btn btn-lg btn-success'>
        <span class='glyphicon glyphicon-plus'></span>
        <span>Add Project</span>
      </div>
    </li>
    <li class='project' ng-class="{'project-active' : project.active || false}" ng-click='setActiveProject(project);' ng-repeat="project in projects | filter: {type: filterType} | orderBy:'type':'date'">
      <a class='project-title' href='#' ng-click='$event.preventDefault()'>{{project.title}} ({{project.type}})</a>
    </li>
  </ul>
</div>
<div class='column right-col col-sm-8 details'>
  <div class='project-title'>
    <h2>
      <a editable-text='activeProject.title' href='#'>{{activeProject.title}}</a>
      details
    </h2>
    (
    @
    <a editable-text='activeProject.id' href='#'>/project/{{activeProject.id || "url"}}</a>
    )
    <input ng-model='activeProject.public' type='checkbox'>public</input>
  </div>
  <div class='field-list project-details'>
    <div class='field project-date'>
      <span class='field-title'>Date:</span>
      <a e-datepicker-popup='MM.yyyy' editable-bsdate='activeProject.date' href='#'>{{(activeProject.date || "Date") | date:'MM.yyyy'}}</a>
    </div>
    <div class='field project-category' ng-if="activeProject.type == 'project'">
      <span class='field-title'>Category:</span>
      <a editable-text='activeProject.category' href='#'>{{activeProject.category || "category"}}</a>
    </div>
    <div class='field project-category' ng-if="activeProject.type == 'show'">
      <span class='field-title'>Category:</span>
      <a e-ng-options="category for category in ['group', 'solo']" editable-select='activeProject.category' href='#'>{{(activeProject.category || "Type")}}</a>
    </div>
    <div class='field project-medium' ng-if="activeProject.type == 'project'">
      <span class='field-title'>Medium:</span>
      <a editable-text='activeProject.medium' href='#'>{{activeProject.medium || "medium"}}</a>
    </div>
    <div class='field project-dimensions' ng-if="activeProject.type == 'project'">
      <span class='field-dimensions'>Dimensions:</span>
      <a editable-text='activeProject.dimensions' href='#'>{{activeProject.dimensions || "dimensions"}}</a>
    </div>
    <div class='field project-location' ng-if="activeProject.type == 'show'">
      <span class='field-title'>Location:</span>
      <a editable-text='activeProject.location' href='#'>{{activeProject.location || "location"}}</a>
    </div>
    <div class='field project-venue' ng-if="activeProject.type == 'show'">
      <span class='field-title'>Venue:</span>
      <a editable-text='activeProject.venue' href='#'>{{activeProject.venue || "venue"}}</a>
    </div>
    <div class='field project-description'>
      <span class='field-title'>Description:</span>
      <a editable-textarea='activeProject.body' href='#' html="'activeProject.body'" my-html ng-binda='activeProject.body'>{{activeProject.body || "Description"}}</a>
    </div>
    <div class='field project-thumb' ng-if="activeProject.type == 'project'">
      <span class='field-title'>Thumbnail:</span>
      <a editable-text='activeProject.thumb'>
        <img class='project-thumb' ng-src='{{activeProject.thumb}}'>
      </a>
    </div>
    <div class='field project-slides'>
      <span class='field-title'>Slides ({{activeProject.slides.length}}):</span>
      <ul ng-model='activeProject.slides' ui-sortable>
        <li class='project-slide' ng-repeat='slide in activeProject.slides'>
          <select class='project-slide-type' ng-model='slide.type' ng-options='option for option in slideOptions'></select>
          <div ng-if="slide.type == 'img'">
            <a editable-textarea='slide.legend' href='#'>{{slide.legend || "legend"}}</a>
            <img class='project-slide-img' editable-text='slide.url' ng-src="{{slide.url || 'somesource'}}">
          </div>
          <div ng-if="slide.type == 'html'">
            <a amy-html ang-bind-html='slide.body' editable-text='slide.body' href='#' html="'slide.body'">{{slide.body || "Code html"}}</a>
          </div>
          <input ng-model='slide.public' type='checkbox'>public</input>
          <delete-item item-type="'slide'" my-class="'btn-xs'" ng-click='removeSlide(slide)'></delete-item>
        </li>
        <add-item item-type="'slide'" my-class="'btn-lg'" ng-click='addSlide(activeProject.slides)'></add-item>
      </ul>
    </div>
    <delete-item item-type="'project'" my-class="'btn-lg'" ng-click='removeProject(activeProject)'></delete-item>
  </div>
</div>
<div id='result' my-data='projects' my-modal my-target='works.json'></div>
