<h1 class='section-header' my-accordion>Projects</h1>
<ul class='section-body project-list' my-isotope="'li'">
  <li ng-class='getFormat($index)' ng-repeat="project in projects | filter: {type: 'project', public: true} | orderBy:'-date'">
    <a class='project' ng-href='#project/{{project.id}}' ng-style="{'background-image': 'url('+project.thumb+')'}">
      <div class='project-details'>
        <div class='project-details-header'>
          <span class='project-title'>{{project.title}}</span>
        </div>
        <div class='project-details-body'>
          <span class='project-category'>{{project.category}}</span>
          ·
          <span class='project-date'>{{project.date | date:'yyyy'}}</span>
        </div>
      </div>
    </a>
  </li>
</ul>
