<div class='menu' ng-include src="'partials/menu.html'"></div>
<div class='project-details' my-carousel>
  <div class='slide project-info' ng-class="'slide-'+0" ng-click='nextSlide(0)'>
    <h1 class='project-title'>{{project.title}}</h1>
    <div class='project-datae'>{{project.date}}</div>
    <div class='project-medium'>{{project.medium}}</div>
    <h2>Apropos</h2>
    <div class='project-description' ng-bind-html='project.description'></div>
  </div>
  <div class='slide' ng-class="'slide-'+($index+1)" ng-click='nextSlide($index+1)' ng-repeat='slide in project.slides'>
    <div my-slide my-slides='slide'></div>
  </div>
</div>
