!!!
%html{:lang => "en", "ng-app" => "myApp"}
  %head
    %meta{:charset => "utf-8"}/
    %title Stéphane Blumer | Admin
    %link{:href => "css/appAdmin.css", :rel => "stylesheet"}
    / %script{:src => "//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js"}
    %script{:src => "lib/jquery.min.js"}
    / %script{:src => "//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"}
    %script{:src => "lib/underscore-min.js"}
    %script{:src => "//cdnjs.cloudflare.com/ajax/libs/mousetrap/1.4.5/mousetrap.min.js"}
    %script{:src => "js/script.js"}

  %body
    .menu{"ng-include" => true, :src => "'partials/menu.html'"}
    .view{"ng-view" => true}


    -#%script{:src => "//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"}
    %script{:src => "lib/angular/angular.js"}
    %script{:src => "lib/angular/angular-route.js"}
    %script{:src => "lib/angular/angular-resource.js"}
    %script{:src => "js/appAdmin.js"}
    %script{:src => "js/services.js"}
    %script{:src => "js/controllers.js"}
    %script{:src => "js/filters.js"}
    %script{:src => "js/directivesAdmin.js"}
    %script{:src => "lib/angular-xeditable/xeditable.min.js"}
    %link{:href => "lib/angular-xeditable/xeditable.css", :rel => "stylesheet"}
