.bio-header {{header}}
%ul.bio-list
	%li.bio{"ng-repeat" => "line in bio"}
		%span.bio-date {{line.date}}
		%span.bio-title {{line.text}}
		%span.bio-location {{line.location}}
		%span.bio-venue {{line.venue}}
		
%a.bio-pdf{:href => "{{pdf.url}}"} {{pdf.title}}