.bio-header{"html" => "'header'", "my-html" => true, "ng-bind-html" => "header"}
%ul.bio-list
	%li{"ng-repeat" => "(category, experiences) in bio"}
		%h3 {{category}}
		%ul
			/If it's an array, ie if it's not the later experiences
			%li{"ng-repeat"=>"exp in experiences  | orderBy:'-date'"}
				%span.bio-date {{exp.date}}
				%span.bio-title {{exp.text}}
				%span.bio-location {{exp.location}}
				%span.bio-venue {{exp.venue}}
	%li
		%h3 Selected Exhibitions
		%ul.bio-years
			%li{"ng-repeat" => "year in Experiences | orderBy:'-year'"}
				.bio-year {{year.year}} 
				%ul
					%li{"ng-repeat" => "line in year.experiences | orderBy:'-date'"} 
						%span.bio-title {{line.text}}
						%span.bio-location {{line.location}}
						%span.bio-venue {{line.venue}}

%a.bio-pdf{:href => "{{pdf.url}}"} {{pdf.title}}



/ <div data-ng-repeat="(group, users) in groupedFriends">
/     <h2>{{group}}</h2>        
/     <ul>
/         <li data-ng-repeat="user in users">
/             {{ user.name }}
/         </li>
/     </ul>
/ </div>