.bio-header.field
	%span.field-title Header:
	%a{"editable-text" => "header", :href => "#"} {{header}}
.bio-pdf.field
	%span.field-title Text to pdf:
	%a.bio-pdf{"editable-text" => "pdf.title", :href => "#"} {{pdf.title}}
	%span.field-title Url to pdf:
	%a.bio-pdf{"editable-text" => "pdf.url", :href => "#"} {{pdf.url}}
%ul.bio-list
	%li{"ng-repeat" => "(category, experiences) in bio"}
		%h3 {{category}}
		%ul
			/If it's an array, ie if it's not the later experiences
			%li{"ng-repeat"=>"exp in experiences  | orderBy:'-date'"}
				%span.bio-date{"editable-bsdate" => "exp.date", "e-datepicker-popup" =>"MM.yyyy"} {{exp.date}}
				|
				%span.bio-title{"editable-text" => "exp.text"} {{exp.text}}
				|
				%span.bio-location{"editable-text" => "exp.location"} {{exp.location}}
				|
				%span.bio-venue{"editable-text" => "exp.venue"} {{exp.venue}}
	%li
		%h3 Selected Exhibitions
		%ul
			%li{"ng-repeat" => "year in Experiences | orderBy:'-year'"}
				.bio-year {{year.year}} 
				%ul
					%li{"ng-repeat" => "line in year.experiences | orderBy:'-date'"}
						%span.bio-year{"editable-bsdate" => "line.date", "e-datepicker-popup" =>"MM.yyyy"} {{line.date}}
						|
						%span.bio-title{"editable-text" => "line.text"} {{line.text}}
						|
						%span.bio-location{"editable-text" => "line.location"} {{line.location}}
						|
						%span.bio-venue{"editable-text" => "line.venue"} {{line.venue}}
						|
						%span.bio-url{"editable-text" => "line.url"} {{line.url}}
		
