#home.container{"ng-controller" => "homeCtrl", "scroll-spy" => true}
	#background-img-0.background-img{"my-background-img" => true, "my-fullscreen" => true, "background-props" => "backgrounds[0]", "ng-click" => "scrollTo('menu', true,$event);$event.prevenDefault();", "ng-cloak" => "true"}
	#menu{"ng-include" => true, :src => "'partials/menu.html'", "fixed-menu" => true, "ng-cloak" => "true"}
	.background-img{"my-background-img" => true, "my-fullscreen" => true, "background-props" => "backgrounds[1]", "ng-cloak" => "true"}
	%section#projects.row{"ng-include" => true, :src =>"'partials/projectList.html'","ng-controller" => "projectListCtrl", "ng-cloak" => "true"}
	.background-img{"my-background-img" => true, "my-fullscreen" => true, "background-props" => "backgrounds[2]", "ng-cloak" => "true"}
	%section#shows.row{"ng-include" => true, :src =>"'partials/showList.html'","ng-controller" => "projectListCtrl", "ng-cloak" => "true"}
	.background-img{"my-background-img" => true, "my-fullscreen" => true, "background-props" => "backgrounds[3]", "ng-cloak" => "true"}
	%section#bio.row{"ng-include" => true, :src =>"'partials/bio.html'", "ng-controller" => "bioListCtrl", "ng-cloak" => "true"}
	.background-img{"my-background-img" => true, "my-fullscreen" => true, "background-props" => "backgrounds[4]", "ng-cloak" => "true"}
	%section#contact.row{"ng-include" => true, "my-fullscreen" => true, :src =>"'partials/contact.html'", "ng-cloak" => "true"}

