#home{"ng-controller" => "homeCtrl"}
	.background-img{"my-background-img" => true, "background-props" => "backgrounds[0]"}
	#menu{"ng-include" => true, :src => "'partials/menu.html'", "fixed-menu" => true}
	%div{"ng-controller" => "projectListCtrl"}
		%section#projects.work-list.row{"ng-include" => true, :src =>"'partials/projectList.html'"}
		%my-background-img{"src" => "{{backgrounds[1].src}}"}
		.background-img{"my-background-img" => true, "background-props" => "backgrounds[1]"}
		%section#shows.row{"ng-include" => true, :src =>"'partials/showList.html'"}
	.background-img{"my-background-img" => true, "background-props" => "backgrounds[2]"}
	%my-background-img{"index" => "2"}

	%section#bio.row{"ng-include" => true, :src =>"'partials/bio.html'", "ng-controller" => "bioListCtrl"}
	.background-img{"my-background-img" => true, "background-props" => "backgrounds[3]"}
	%section#contact.row{"ng-include" => true, :src =>"'partials/contact.html'"}
	.background-img{"my-background-img" => true, "background-props" => "backgrounds[4]"}

	.background-img#img4{"ng-repeat" => "background in [backgrounds[4]]", "ng-include" => "'partials/backgrounds.html'"} img4
