#home.container{"ng-controller" => "homeCtrl", "scroll-spy" => true}
	#background-img-0.background-img{"my-background-img" => "{{backgrounds[0].url}}", "my-fullscreen" => "true", "ng-click" => "scrollTo('menu', true,$event);$event.prevenDefault();", "ng-cloak" => "true", "data-stellar-ratio" => "0.15"}
	#menu{"ng-include" => true, :src => "'partials/menu.html'", "fixed-menu" => true, "ng-cloak" => "true"}
	%section#projects.row{"ng-include" => true, :src =>"'partials/projectList.html'","ng-controller" => "projectListCtrl", "ng-cloak" => "true"}
	#background-img-2.background-img{"my-background-img" => "{{backgrounds[1].url}}", "my-fullscreen" => true, "ng-cloak" => "true", "data-stellar-ratio" => "0.15"}
	%section#shows.row{"ng-include" => true, :src =>"'partials/showList.html'","ng-controller" => "projectListCtrl", "ng-cloak" => "true"}
	#background-img-3.background-img{"my-background-img" => "{{backgrounds[2].url}}", "my-fullscreen" => true, "ng-cloak" => "true", "data-stellar-ratio" => "0.15"}
	%section#bio.row{"ng-include" => true, :src =>"'partials/bio.html'", "ng-controller" => "bioListCtrl", "ng-cloak" => "true"}
	#background-img-4.background-img{"my-background-img" => "{{backgrounds[3].url}}", "my-fullscreen" => true, "ng-cloak" => "true", "data-stellar-ratio" => "0.15"}
	%section#contact.row{"ng-include" => true, :src =>"'partials/contact.html'", "ng-cloak" => "true", "my-fullscreen" => true}
	{{forceAnchor()}}

