#home{"ng-controller" => "homeCtrl"}
	%a#background-img-0.background-img{"ng-href" => "#menu","my-background-img" => true, "my-fullscreen" => true, "background-props" => "backgrounds[0]", "ng-click" => "scrollTo('menu', $event);"}
	#menu{"ng-include" => true, :src => "'partials/menu.html'", "fixed-menu" => true}
	.background-img{"my-background-img" => true, "my-fullscreen" => true, "background-props" => "backgrounds[1]"}
	%section#projects.row{"ng-include" => true, :src =>"'partials/projectList.html'","ng-controller" => "projectListCtrl", "scroll-spy" => true}
	.background-img{"my-background-img" => true, "my-fullscreen" => true, "background-props" => "backgrounds[2]"}
	%section#shows.row{"ng-include" => true, :src =>"'partials/showList.html'","ng-controller" => "projectListCtrl", "scroll-spy" => true}
	.background-img{"my-background-img" => true, "my-fullscreen" => true, "background-props" => "backgrounds[3]"}
	%section#bio.row{"ng-include" => true, :src =>"'partials/bio.html'", "ng-controller" => "bioListCtrl", "scroll-spy" => true}
	.background-img{"my-background-img" => true, "my-fullscreen" => true, "background-props" => "backgrounds[4]"}
	%section#contact.row{"ng-include" => true, "my-fullscreen" => true, :src =>"'partials/contact.html'", "scroll-spy" => true}
	.background-img{"my-background-img" => true, "my-fullscreen" => true, "background-props" => "backgrounds[0]"}

