%nav.navbar.navbar-default{:role => "navigation"}
  / Brand and toggle get grouped for better mobile display
  .navbar-header
    %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
      %span.sr-only Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
  / Collect the nav links, forms, and other content for toggling
  #bs-example-navbar-collapse-1.collapse.navbar-collapse
    %ul.nav.navbar-nav
      %li{"ng-repeat" => "item in menu"}
        %a{"ng-href" => "{{url(item)}}", "ng-click" => "scrollTo(item.name, $event);", "ng-class" => "{active: item.active}"} {{item.name}}
  / /.navbar-collapse