%ul.project-list{"my-isotope" => "'li'"}
	%li{"ng-repeat" => "project in projects | filter: {type: 'project', public: true} | orderBy:'-date'", "my-layout" => true} 
		%a.project{:style => "background-image: url('{{project.thumb}}')", "ng-href" => "#project/{{project.id}}"}
			{{setClasses(project)}}
			.project-details
				%div.project-details-header
					%span.project-title {{project.title}}
					·
					%span.project-date {{project.date | date:'yyyy'}}
				%div.project-details-body
					%span.project-category {{project.category}}
					·
					%span.project-dimensions {{project.dimensions}}
