.menu.navbar-fixed-top{"ng-include" => true, "src" => "'partials/menu.html'"}
.project-details{"my-carousel" => true}
	.slide.project-info{"ng-click" => "nextSlide(0)", "ng-class" => "'slide-'+0"}
		%h1.project-title {{project.title}}
		.project-medium {{project.medium}}
		.project-date {{project.date | date:'MM.yyyy'}}
		%h2 Apropos
		%p.project-body{"ng-bind-html" => "project.body", "my-html" => true, "html" => "'project.body'"}
	.slide{"ng-repeat" => "slide in project.slides", "ng-click" => "nextSlide($index+1)", "ng-class" => "'slide-'+($index+1)", "my-slide" => true, "my-slides" => "slide", "my-center" => true}
