.column.left-col.col-sm-4.list
	%ul.project-list
		%li.project.add-new
			%span.glyphicon.glyphicon-plus
			%span{"ng-click" => "addProject();"} Add Project
		%li.project{"ng-repeat" => "project in projects | orderBy:'type':'date'", "ng-click" => "setActiveProject(project);", "ng-class" => "{'project-active' : project.active}"}
			%a.project-title{:href => "#", "ng-click" => "$event.preventDefault()"} {{project.title}} ({{project.type}}, {{project.date | date:'MM.yyyy'}})

.column.right-col.col-sm-8.details
	.project-title
		%h2
			%a{"editable-text" => "activeProject.title", :href => "#"} {{activeProject.title}} 
			details
		(
		%a{"editable-text" => "activeProject.url", :href => "#"} /project/{{activeProject.url || "url"}}
		)
	.field-list.project-details
		.field.project-date
			%span.field-title Category: 
			%a{"editable-text" => "activeProject.type", :href => "#"} {{(activeProject.type || "Type")}}
			%span.field-title Date: 
			%a{"editable-bsdate" => "activeProject.date", "e-datepicker-popup" =>"MM.yyyy", :href => "#"} {{(activeProject.date || "Date") | date:'MM.yyyy'}}
		.field.project-medium
			%span.field-title Category: 
			%a{"editable-text" => "activeProject.category", :href => "#"} {{activeProject.category || "category"}}
		.field.project-medium
			%span.field-title Medium: 
			%a{"editable-text" => "activeProject.medium", :href => "#"} {{activeProject.medium || "medium"}}
		.field.project-thumb
			%span.field-title Thumbnail:
			%a{"editable-text" => "activeProject.thumb"}
				%img.project-thumb{"ng-src" => "{{activeProject.thumb}}"}
		.field.project-slides
			%span.field-title Slides:
			%ul
				%li.project-slide{"ng-repeat" => "slide in activeProject.slides"}
					%select.project-slide-type{"ng-model" => "slide.type", "ng-options" => "option for option in slideOptions"}
					%div{"ng-if" => "slide.type == 'img'"}
						%a{"editable-textarea" => "slide.legend", :href => "#"} {{slide.legend || "legend"}}
						%img.project-slide-img{"ng-src" => "{{slide.url || 'somesource'}}", "editable-text" => "slide.url"}
					%div{"ng-if" => "slide.type == 'html'"}
						%a{"editable-textarea" => "slide.body", :href => "#", "ng-bind-html" => "{{$sce.trustAsHtml(slide.body)}}"} {{slide.body || "Code html"}}
				%button.btn{"ng-click" => "addSlide(activeProject.slides)"} Add slide
#result{"my-modal" => true, "my-data" => "projects", "my-target" => "works.json"}