%ul.show-list
	%li.show{"ng-repeat" => "project in projects | filter: {type: 'show'}"}
		%a{"ng-href" => "{{project.title}}"}
			%span.show-title {{project.title}}
			·
			%span.show-location {{project.location}}
			·
			%span.show-year {{project.date}}
