%ul.show-list
	%li.show{"ng-repeat" => "project in projects | filter: {type: 'show'}"}
		%span.show-title {{project.title}}
		%span.show-location {{project.location}}
		%span.show-year {{project.date}}
