.img{"my-iframe" => "img", "ng-if" => "slide.type == 'img'"}
	%img.slide-img{"ng-src" => "{{slide.url}}" }
	.slide-legend{"my-html" => "slide.legend"}
.html{"ng-if" => "slide.type == 'html'", "my-html" => 'slide.body', "my-iframe" => "html"}
